body {
  background: #000000;
  color: white;
  font-family: 'UnifrakturMaguntia', 'Garamond', serif;
  text-align: center;
}
.title {
  font-size: 2.5rem;
  text-shadow: 0 0 10px #8b0000, 0 0 20px #550000;
  margin-top: 20px;
}

header {
  background: linear-gradient(90deg, #8b0000,  #550000);
  padding: 1rem;
}

.nav-link {
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  color: #8b0000;
}

.artist-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

.artist-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px #8b0000, 0 0 20px #550000;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.artist-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #550000, 0 0 25px #8b0000;
}

.artist-card h3 {
  color: white;
  font-size: 1.2rem;
  margin-top: 10px;
}

.artist-img {
  width: 100%;
  border-radius: 5px;
  border: 2px solid #8b0000;
}

.artist-details {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px #8b0000, 0 0 15px #550000;
}

.artist-details img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

h3 {
  color: #8b0000;
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: rgba(255, 255, 255, 0.1);
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
}

a {
  color: #8b0000;
  text-decoration: none;
}

a:hover {
  text-shadow: 0 0 5px #8b0000;
}

.interactive-btn {
  background: #8b0000;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #0d0d0d;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 10px #8b0000, 0 0 20px #550000;
}

.interactive-btn:hover {
  background: #550000;
  box-shadow: 0 0 15px #550000, 0 0 30px #8b0000;
  color: #ffffff;
}

.toggle-section {
  background: #8b0000;
  border: none;
  padding: 5px 10px;
  font-size: 1rem;
  color: #0d0d0d;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 8px #8b0000, 0 0 16px #550000;
  border-radius: 5px;
  margin-left: 10px;
}

.toggle-section:hover {
  background: #550000;
  box-shadow: 0 0 10px #550000, 0 0 20px #8b0000;
  color: #ffffff;
}

.toggle-section:focus {
  outline: none;
  box-shadow: 0 0 12px #550000, 0 0 24px #8b0000;
}

.return-btn {
  display: inline-block;
  background: #8b0000;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #0d0d0d;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px #8b0000, 0 0 20px #550000;
  border-radius: 5px;
}

.return-btn:hover {
  background: #550000;
  box-shadow: 0 0 15px #550000, 0 0 30px #8b0000;
  color: #ffffff;
}